.iconSpace {
    padding-right: 2%;
}

#img img {
    width: 150px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 18%;
}

.menuColor {
    background-color: rgba(0, 0, 0, 0.856);
}

.options a:hover {
    color: #0f6380;
    cursor: pointer;
}

.logout button {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}